asgiref==3.8.1
Django==5.1.3
-e git+https://github.com/django-commons/django-debug-toolbar.git@a9ac5dc9371de1ecd2394affa2085a2a1427c7eb#egg=django_debug_toolbar
flake8==7.1.1
flake8-quotes==3.4.0
gunicorn==23.0.0
mccabe==0.7.0
packaging==24.2
psycopg2-binary==2.9.10
pycodestyle==2.12.1
pyflakes==3.2.0
python-dotenv==1.0.1
setuptools==75.6.0
sqlparse==0.5.1
tzdata==2024.2
whitenoise==6.8.2
