  <!-- Navbar -->
  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg  blur border-radius-xl mt-4 top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
          <div class="container-fluid px-0">
            <a class="navbar-brand font-weight-bolder ms-sm-3" href="/" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom">
              Material Kit 2
            </a>
            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </span>
            </button>
            <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100" id="navigation">
              <ul class="navbar-nav navbar-nav-hover ms-auto">
              
                <li class="nav-item dropdown dropdown-hover mx-2">
                  <a href="{% url 'tango:index' %}" class="nav-link ps-2 d-flex cursor-pointer align-items-center"> 
                    Home
                  </a>
                </li>
              
                <li class="nav-item dropdown dropdown-hover mx-2">
                  <a href="{% url 'tango:member-list' %}" class="nav-link ps-2 d-flex cursor-pointer align-items-center"> 
                    People
                  </a>
                </li>
              
                <li class="nav-item dropdown dropdown-hover mx-2">
                  <a href="{% url 'tango:activity-list' %}" class="nav-link ps-2 d-flex cursor-pointer align-items-center"> 
                    Activities
                  </a>
                </li>
              
                <li class="nav-item dropdown dropdown-hover mx-2">
                  <a href="{% url 'tango:place-list' %}" class="nav-link ps-2 d-flex cursor-pointer align-items-center"> 
                    Places
                  </a>
                </li>
              
                <li class="nav-item my-auto ms-3 ms-lg-0">
                </li>
                <li class="nav-item my-auto ms-3 ms-lg-0">

                  <a class="nav-link ps-2 d-flex cursor-pointer align-items-center">
                     <i>Welcome,  <span class="font-weight-bold"> {{ request.user }}</span>!</i>
                  </a>
                </li>

                {% if request.user.is_authenticated %}
                  <li class="nav-item ms-lg-auto">
                    <a class="nav-link nav-link-icon font-weight-bold" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Logout" 
                      href="{% url 'tango:logout' %}">

                      <p class="d-inline text-sm z-index-1 font-weight-bold" data-bs-toggle="tooltip" data-bs-placement="bottom">Logout</p>
                    </a>
                  </li>          
                {% endif %}

              </ul>
            </div>
          </div>
        </nav>
        <!-- End Navbar -->
      </div>
    </div>
  </div>
